@charset "utf-8";

/* =========================================================
	1.fair-list-nav
	2.fair-list
========================================================= */

a {
	text-decoration: none;
}

#contents {
	padding-top: 30px;
}

/* 1.fair-list-nav
--------------------------------------------------------- */
h1 {
	background: url(../img/list/fair-list-title.png) no-repeat;
	width: 430px;
	height: 39px;
	text-indent: -9999px;
	margin-bottom: 30px;
}


h1.bn {
	background: url(../img/list/fair-list-title-bn.png) 0 2px no-repeat;
	width: 520px;
}

h1 span {
	display: block;
	text-indent: -9999px;
	height: 25px;
	background-position: 13px 4px;
	background-repeat: no-repeat;
	width: 130px;
	margin-left: 299px;
}

h1.bn span {
	margin-left: 388px;
}

#znk{
	background-image: url(../img/list/list-title-znk.png);
}

#hkd-thk {
	background-image: url(../img/list/list-title-hkd-thk.png);
}

#knt{
	background-image: url(../img/list/list-title-knt.png);
}

#hkr-chb {
	background-image: url(../img/list/list-title-hkr-chb.png);
}

#kns {
	background-image: url(../img/list/list-title-kns.png);
}

#chg-shk {
	background-image: url(../img/list/list-title-chg-shk.png);
}

#ksh-okn {
	background-image: url(../img/list/list-title-ksh-okn.png);
}

#fair-list-nav {
	width: 940px;
	margin: 0 auto 40px;
	text-align: center;
	padding: 13px 0;
	background: #65b300;
	ul {
		font-size: 0;
		line-height: 0;
	}
	li {
		display: inline-block;
		a {
			display: block;
			font-size: 17px;
			color: #abe95a;
			position: relative;
			overflow: hidden;
			padding: 3px 0;
			&:hover {
				color: #fff;
			}

			.wrap {
				display: block;
				padding: 0 25px;
				line-height: 37px;
				border-left: 1px dotted #c1e199;
				.inner {
					position: relative;
				}
			}
		}
		&.first span {
			border: none;
		}
	}

	.on .inner,
	.inner:hover {
		color: #fff;
	}

	.inner:after {
		content: "";
		position: absolute;
		left: 50%;
		right: 50%;
		bottom: -8px;
		background: #fff;
		height: 3px;
		-webkit-transition-property: left, right;
		transition-property: left, right;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.on .inner:after {
		bottom: -4px;
	}
}

.ie8 .inner:after {
	bottom: -12px !important;
}

.on .inner {
	border-bottom: 3px solid #fff;
	padding-bottom: 5px;
}

*:first-child+html #fair-list-nav li {
	display: inline;
	zoom: 1;
}

#fair-list-nav li:not(.on):hover .inner:after,
#fair-list-nav li:not(.on):focus .inner:after,
#fair-list-nav li:not(.on):active .inner:after {
	left: 0;
	right: 0;
}

/* 2.fair-list
--------------------------------------------------------- */
#fair-list {
	li {
		float: left;
		width: 220px;
		margin: 0 10px 20px;
		background: #fff;
		line-height: 1.4;
		a {
			padding: 15px;
			display: block;
			&:hover {
				opacity: .8;
			}
		}
		.photo {
			margin-bottom: 15px;
		}
		.fair-name,
		.fair-place,
		.fair-date {
			text-align: center;
		}
		.fair-name {
			margin-bottom: 14px;
			font-size: 16px;
			font-weight: bold;
		}
		.fair-place {
			font-size: 12px;
			display: block;
		}
		.fair-date {
			margin-bottom: 10px;
			color: #65b300;
			font-size: 12px;
		}
		.area {
			text-align: center;
			padding-bottom: 10px;
			.r-area {
				display: inline-block;
				margin: 0 2px 5px;
			}
			.first {
				margin-left: 0;
			}
			.last {
				margin-right: 0;
			}
		}
		.fair-txt {
			padding-top: 15px;
			border-top: 1px dotted #aaa;
			color: #66532b;
			font-size: 12px;
		}
	}
}

*:first-child+html #fair-list li .r-area {
	display: inline;
	zoom: 1;
}

#paging {
	text-align: center;
	padding: 20px 0 60px;
	li {
		display: inline-block;
		vertical-align: bottom;
		a {
			color: #66532b;
		}
	}
	.first,
	.prev{
		padding-right: 35px;
		font-size: 16px;
		line-height: 26px;
	}
	.last,
	.next {
		padding-left: 35px;
		font-size: 16px;
		line-height: 26px;
	}
	.first a {
		background: url(../img/list/paging-first.png) 0 3px no-repeat;
		padding-left: 22px;
	}
	.prev a {
		background: url(../img/list/paging-prev.png) 0 3px no-repeat;
		padding-left: 19px;
	}
	.next a {
		background: url(../img/list/paging-next.png) right 3px no-repeat;
		padding-right: 19px;
	}
	.last a {
		background: url(../img/list/paging-last.png) right 3px no-repeat;
		padding-right: 22px;
	}
	.more-prev,
	.more-next {
		margin: 0 2px;
	}

	ol li {
		margin: 0 5px;
		a {
		font-size: 13px;
		border-radius: 13px;
		border: 1px solid #65b300;
		background: #fafeef;
		width: 23px;
		height: 23px;
		line-height: 24px;
		display: block;
		&:hover {
			background: #ddf1c3;
		}
		}
		&.on a {
			background: #65b300;
			color: #fff;
		}
	}
}

*:first-child+html #paging li {
	display: inline;
	zoom: 1;
}