---
layout: layout.hbs
title: 'page1'
styles: ['common','page']
global-nav: true
page-type: 'detail'
nav-menu: 1
sns: true
---

<div id="warpper">
	<h1>見出しH1</h1>
	<div id="contents">
	{{>list}}
	</div>
</div>