---
layout: layout.hbs
title: 'page2'
styles: ['common','page']
global-nav: true
page-type: 'list'
nav-menu: 0
sns: false
---

<div id="warpper">
	<h1>見出しH1</h1>
	<div id="contents">
	{{>list}}
	</div>
</div>